code

head, body {
    text-align: center;
    font-family: Atma;
    font-size: 30pt;
    background-color: midnightblue;
    color: coral;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Creepster;
    font-size: 50pt;
    color: coral;
}

h1 {
    font-size: 70pt;
}

header img {
    size-adjust: 30px;
}

header {
    text-align: center;
}

/* Character Section */

#character, footer {
    text-align: center;
    border: 15px solid blanchedalmond;
    background-color: midnightblue;
    padding: 30px;
    color: coral;
}

#character img {
    width: 300px;
}

/* Portfolio Section */

#portfolio {
    text-align: center;
}

#portfolio ul li:nth-child(even) {
    color: ghostwhite;
}

#portfolio ul li:nth-child(odd) {
    color: plum;
}

/* Testimonial Section */

#testimonials {
    text-align: center;
}

#testimonials ul li:nth-child(odd) {
    color: plum;
}

#testimonials ul li:nth-child(even) {
    color: ghostwhite;
}

/* Gallery */

#gallery {
    text-align: center;
    border: 15px solid blanchedalmond;
    background-color: midnightblue;
    padding: 30px;
    color: coral;
    margin-bottom: 2rem;
}

#gallery figure {
    text-align: center;
    font-size: 30pt;
}
